body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: url(/images/binding_dark.png);
  color: #fff;
}

a {
  color: #00B7FF;
}

#submit1, #build {
    display: none;
}

h1 {
	margin: 10px 0 0 0 !important;
}

#container {
	width: 330px;
	margin: 0 auto;
	background: #131313;
	padding: 10px 20px 20px 20px;
	border-radius: 10px;
	-moz-box-shadow: 1px 1px 20px #232323, -1px -1px 20px #232323;
	-webkit-box-shadow: 1px 1px 20px #232323, -1px -1px 20px #232323;
}

#content {
	font-size: 12px;
	margin: 10px 0 0 0;
	border-top: 1px dotted #666;
}

#sub {
	margin: 5px 0 10px 0;
}

video {
	border: 3px solid #232323;
	background: #232323;
	margin: 0 0 10px 0;
}

#build {
	margin: 20px 0 0 0;
}

#build form div {
	float: left;
	padding: 2px;
}

#generation img {
	border: 3px solid #232323;
	margin: 0 0 10px 0;
}

ul {
	list-style: none;
	margin: 0 0 20px 0;
	padding: 0;
}

/* UI */
#slider-range {
	height: 4px;
}
#slider-range .ui-slider-range {
	height: 4px;
}
.ui-slider-handle {
	width: 8px !important;
	height: 12px !important;
	cursor: pointer !important;
}
input[type="text"] {
	width: 100px;
}
#submit2 {
	width: 200px;
	margin: 20px 0 0 65px;
	text-align: center;
}

#submit1, #submit2, #file {
	cursor: pointer;
}

.ui-widget-header{
	background:#f6a828;
}